type factory_block_device, dev_type;
type factory_file, file_type;

allow init factory_file:dir { mounton };

allow qti_init_shell factory_file:file { read open getattr };
allow qti_init_shell factory_file:dir { search };
